body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 12px "Lucida Sans Unicode","Lucida Grande",Arial,Verdana,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #D8A02F;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #D8A02F;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 10px;
	text-align: center;
	border-top: 1px solid #D8A02F;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}
/*
#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
        height: 40px;
}

#mainmenu ul li
{
	display: inline-block;
        position: relative;
        float:left;
        margin-left: 2px;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}
*/
div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 11px;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #f4deb3;
	border-left: 5px solid #d8a02f;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #000000;
}

.portlet-content
{
	font-size:11px;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#f5ebd7;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #d8a02f;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #9d731d!important;
}
/*
#mainmenu ul li ul
{
        left:148px;
        top:-1px
}

#mainmenu ul li ul li
{
	display: none;
}

#mainmenu ul li.active ul li
{
	display: inline;
}

#mainmenu ul li ul li a,#mainmenu ul li.active ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li ul li a:hover, #mainmenu ul li ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

*/

#mainmenu{
	background:#D8A02F;
	height:28px;
        z-index:10;
}
#mainmenu ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
	background-color:#000;
}
#mainmenu ul li {
    float:left
}

#mainmenu ul li:hover {
    background: none repeat scroll 0 0 #FFFFFF;
}

#mainmenu ul li:hover a {
    color: #000000;
}

#mainmenu ul li a {
    color: #1d1d1d;
    display: block;
    padding: 7px 5px;
    text-decoration: none;
    font-size: 100%;
}
#mainmenu li ul {
	position: absolute;
	top: 20;
	display: none;
        z-index:10;
}
#mainmenu li ul{
	border-bottom:1px solid #ccc;
}
#mainmenu li ul li{
	float:none;
        z-index:10;
}
#mainmenu li ul li a {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #CCCCCC #CCCCCC -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    color: #777777;
    display: block;
    padding: 5px;
    text-decoration: none;
}
#mainmenu li ul li a:hover {
    color:red;
}

#mainmenu li:hover ul { display: block; }

.grid-view table.items th{
    background: #d8a02f none repeat-x scroll left top !important;
    color: #000000 !important;
}

.grid-view table.items th a{
    color: #000000 !important;
}

.grid-view table.items tr.odd{
    background: #f4deb3 none repeat scroll 0 0 !important;
}

.grid-view table.items tr.even{
    background: #f5ebd7 none repeat scroll 0 0 !important;
}

ul.yiiPager .selected a{
    background: #d8a02f none repeat scroll 0 0 !important;
}

ul.yiiPager a:link, ul.yiiPager a:visited{
    border: 1px solid #d8a02f !important;
    color: #000000 !important;
}

.grid-view table.items tr.selected {
    background: #bce774 none repeat scroll 0 0 !important;
}
.grid-view table.items tr.selected:hover {
    background: #ccff66 none repeat scroll 0 0 !important;
}
.grid-view table.items tbody tr:hover {
    background: #ecfbd4 none repeat scroll 0 0 !important;
}

table.detail-view tr.even{
	background: #f5ebd7!important;
}
table.detail-view tr.odd{
	background: #f4deb3!important;
}

#sitename {
    position: relative;
    top: -14px;
}

.operations li a{
	color: #555555 !important;
}

.uniForm .buttonHolder .primaryAction{
	background: #222222 none repeat scroll 0 0!important;
    border: 1px solid #222222!important;
    border-radius: 4px;
    box-shadow: none!important;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    padding: 10px 22px;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
}

#logo > img{
	height: 50px
}